/*@import "bootstrap/dist/css/bootstrap.min.css";*/

body{
    background: green;
}

.card{
    width: 150px;
    height: 280px;
    background-color: white;
    border: 2px, solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    justify-content:space-around;



    padding: 5px;
    
    font-size: 70px;

}


#paloArriba{
    margin-top: -40px;
}